
	<footer style="position: fixed; right: 0; bottom: 0; left: 0;padding: 1rem; text-align: center;" class="footer">
  		<h2>Library Database System
            <a href='https://www.linkedin.com/in/jonathan-perry-697677b8?trk=profile-badge'>
                <i class="fa fa-linkedin-square" style="color: red;"></i>
            </a>
        </h2>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</footer>
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</body>
</html>