<%- include ('partials/header') %>
<div class="row d-flex justify-content-center align-items-center min-vh-100" >
    <div class="col-md-4 mx-auto">
        <h1 style="text-align: center">Login</h1>
        <form action="/login" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input class="form-control" type="email" name="email" placeholder="email" required maxlength="30">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>

                </span>
                <input class="form-control" type="password" name="password" placeholder="password" required maxlength="50">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <div>
            <a href="/forgot" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Forgot password?
            </a>
        </div> 
    </div>    
</div>
<%- include ('partials/footer') %>