<%- include ('partials/header') %>
<div class="jumbotron jumbotron-fluid col-sm-9 mx-auto">
	<!-- CITE: http://ecampus.oregonstate.edu/online-degrees/ -->
	<div class="container">
		<img src="http://ecampus.oregonstate.edu/includes/2017/images/osu-logo.svg" class="img-responsive" type="image/svg+xml" onerror="this.src='/includes/2017/images/osu-logo@2x.png'; this.onerror=null;" alt="Oregon State University">
	    <h1 class="display-4"> Library Database System</h1>
	    <p lass="lead"> This webpage was created for my Database Course - CS 340</p>
	</div>  
</div> 
<%- include ('partials/footer') %>